<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.lizejun.module.home">

    <application
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:theme">
        <activity android:name="com.lizejun.demo.module.home.ResultClientActivity"/>
    </application>

</manifest>
